body {
    background-color: #f8f9fa; /* Светлый фон для страницы */
    color: #343a40; /* Темный цвет текста */
}

.navbar {
    background-color: #343a40; /* Темный фон для навигационной панели */
}

.navbar-nav .nav-link {
    color: #ffffff; /* Белый цвет текста для ссылок в навигационной панели */
}

.navbar-nav .nav-link:hover {
    color: #ffc107; /* Желтый цвет текста при наведении */
}

.card {
    margin-bottom: 20px; /* Отступ снизу для карточек */
}

.footer {
    background-color: #343a40; /* Темный фон для подвала */
    color: #ffffff; /* Белый цвет текста для подвала */
    text-align: center; /* Выравнивание текста по центру */
    padding: 10px 0; /* Отступы сверху и снизу для подвала */
}

.sidebar {
    padding: 15px; /* Внутренний отступ для бокового меню */
    margin-top: 138px; /* Отступ сверху для бокового меню */
}

.main-content {
    padding-left: 20px; /* Внутренний отступ слева для основного контента */
}

/* Стили для кнопок тегов */
.tag-button {
    background-color: #d33682; /* Малиновый цвет фона */
    color: #ffffff; /* Белый цвет текста */
    border: none; /* Без границы */
    padding: 5px 10px; /* Внутренние отступы для кнопки */
    border-radius: 5px; /* Скругленные углы */
}

.tag-button:hover {
    background-color: #b0306e; /* Темный серый цвет при наведении */
}
.navbar-brand {
    color: #d33682; /* Малиновый цвет */
    font-weight: bold;
}
.btn-primary {
    background-color: #d33682; /* Малиновый цвет фона */
    border-color: #d33682; /* Малиновый цвет границы */
    color: #fdf6e3; /* Светлый цвет текста */
}

.btn-primary:hover {
    background-color: #b0306e; /* Более темный малиновый цвет при наведении */
    border-color: #b0306e; /* Более темный малиновый цвет границы при наведении */
    color: #fdf6e3; /* Светлый цвет текста */
}
